@media screen and (max-width: 980px) {
  .zerogrid {
    width: 100%;
  }

  .zerogrid .col-1-4 {
    width: 49.5%;
    margin-left: -1px;
  }

  nav .wrap-nav {
    width: 100%;
    top: 0;
  }

  .menu ul li {
    float: none;
    display: inline-block;
  }

  .menu ul {
    text-align: center;
  }

  header #logo {
    margin: 0 auto;
    position: unset;
  }

  img {
    margin-top: 36px;
  }
}

@media screen and (max-width: 465px) {
  .zerogrid .col-1-4 {
    width: 100%;
    margin-left: -5px;
  }

  .menu {
    display: none;
  }

  .minimenu {
    display: block;
  }

  .minimenu div {
    border: 1px solid white;
  }
}