@import "https://fonts.googleapis.com/css?family=Montserrat:600";

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

header {
  background: url(images/Layer-759_02.jpg);
  background-size: cover;
  text-align: center;
  color: #fff;
}

header nav {
  background: #BA925E;
  width: 70%;
  margin: -1px auto;
  padding: 10px 0;
  position: relative;
  top: 20px;
  opacity: .9;
}

header nav ul {
  list-style-type: none;
  padding: 10px;
}

header nav ul li {
  display: inline-block;
  margin: 0 55px;
}

header a {
  color: #fff;
  text-decoration: none;
}

header nav ul li a {
  font-size: 1.3rem;
}

header h1 {
  font-size: 5rem;
  text-transform: uppercase;
  margin-top: 110px;
  margin-bottom: 40px;
}

header p {
  font-size: 1.4rem;
  width: 16%;
  margin: 0 auto;
}

header button {
  background: #080820;
  border: none;
  padding: 17px 20px;
  margin-top: 30px;
  margin-bottom: 300px;
  text-transform: uppercase;
  border-radius: 5px;
  outline: none;
}

header button i {
  color: #BA925E;
}

header button:hover {
  background: #BA925E;
  color: #BA925E;
}

.industries h2 {
  font-size: 3.5rem;
  text-align: center;
  margin: 25px 0;
}

.content {
  margin-left: 150px;
  height: 40%;
}

.content article {
  box-sizing: border-box;
  display: inline-block;
  width: 20%;
  margin: 40px 90px;
}

.content article h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.content article p {
  font-size: 1.1rem;
}

.content article i {
  width: 35px;
  text-align: center;
  font-size: 2.5rem;
  position: relative;
  right: 64px;
  top: 32px;
  color: #fff;
  background: #080820;
  padding: 10px;
  border-radius: 50%;
}

.mid-banner {
  text-align: center;
  margin-bottom: 0;
  padding-top: 35px;
  padding-bottom: 46px;
  margin-top: 40px;
  display: block;
  position: relative;
}

.mid-banner::after {
  content: '';
  background-size: cover;
  opacity: .3;
  background: url(images/steel-bg.jpg) center center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.mid-banner h4 {
  font-size: 2rem;
  margin: 0 auto;
  width: 30%;
}

.mid-banner h4::first-line {
  color: #BA925E;
}

.traders {
  margin: 0;
  padding-top: 35px;
  padding-bottom: 46px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/background-choose-us.jpg) no-repeat center;
  background-size: cover;
}

.traders h2 {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}

.article-container {
  display: flex;
  justify-content: center;
}

.article-container a {
  margin-right: 30px;
  padding: 20px;
  width: 300px;
  border: 2px solid #c79d63;
  text-align: center;
  text-decoration: none;
}

.article-container a:hover,
.article-container a:hover p,
.article-container a:hover h4 {
  background: #fff;
  color: #090821;
}

.article-container h4 {
  color: #fff;
  margin: 0 0 17px 17px;
  padding-top: 21px;
  letter-spacing: 0;
  font-size: 20px;
}

.article-container p {
  text-align: left;
  margin: 0 0 17px 17px;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
}

.founder {
  background: url(/images/consulting-woman.jpg);
  background-size: cover;
  padding: 3% 2% 1% 62%;
}

.info {
  background: rgba(255, 255, 255, 0.7);
  height: 45vh;
  padding: 10% 8% 0;
}

.info>p {
  font-size: 1.4rem;
  line-height: 25px;
  text-align: justify;
  margin-bottom: 20px;
}

.info>p:before {
  content: open-quote;
  font-size: 2.5rem;
  color: #BA925E;
}

.info>p:after {
  content: close-quote;
  font-size: 2.5rem;
  color: #BA925E;
}

.badge {
  background: #080820;
  height: 65%;
}

.badge h3 {
  color: #fff;
  font-size: 2.3rem;
  margin: 15px;
}

.badge p {
  color: #789;
  text-align: right;
  font-size: 1.3rem;
  position: relative;
  top: 10px;
  right: 20px;
}

.companies ul {
  padding-top: 30px;
  text-align: center;
}

.companies ul li {
  display: inline-block;
  vertical-align: top;
  height: 90px;
}

.companies ul li img {
  height: 60px;
}

footer {
  background: #080820;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  padding: 0 10%;
}

footer section {
  flex-grow: 1;
  width: 30%;
}

footer a {
  color: #BA925E;
  text-decoration: none;
}

footer h5 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.instagram {
  display: flex;
  flex-wrap: wrap;
}

.instagram h5 {
  display: inline-block;
}

.feed {
  margin: 0;
  position: relative;
  top: 50px;
  right: 170px;
  width: 60%;
}

.instagram img {
  flex-grow: 1;
  height: 90px;
  width: 90px;
}

.extra-links ul {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.extra-links li {
  margin-top: 10px;
}

.extra-links a {
  text-decoration: none;
}

.consulting p {
  margin: 10px 0 0 20px;
  width: 35%;
}

.social {
  position: relative;
  bottom: 15px;
}

.social a {
  margin: 0 10px;
}

.social i {
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: #080820;
  text-align: center;
  box-sizing: border-box;
  padding-top: 4px;
}