@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 60px 300px;
}

.welcome, .gallery {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  font-weight: 300;
  margin: 0 auto;
}

.welcome {
  width: 66.4%;
}

.welcome div, .gallery div:nth-child(1) {
  border-left: 3px solid #656565;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

h4 {
  font-size: 2.8rem;
  letter-spacing: 10px;
  font-weight: 100;
  margin: 0 0 20px 30px;
}

div p {
  margin: 0 0 20px 30px;
  font-size: 1.2rem;
}

.welcome > p {
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
  vertical-align: top;
  font-weight: 400;
  height: 284px;
  font-size: 1.2em;
  padding-right: 45px;
}

.image img {
  max-width: 430px;
  height: 278px;
}